*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: #F3F3E8;
    font-family: Helvetica, Arial, sans-serif;
}

.ui.container{
  width:100%;
  padding:0px;
}
.login{
  background-image: url('http://www.powerpointhintergrund.com/uploads/food-background-2.jpg');
  background-size: cover;
  background-position: center;
  color:brown;

}
.hero {
    background-image: url('https://tinyurl.com/yayrtcmq');
    background-size: cover;
    background-position: center;
    min-height: 350px;
    border-radius: 4px;
    color: white;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.foodie{
  border-radius:5px;
  height:110px;
  width:120px;
  position:relative;
  top:-10px;
}

.btn{
border: none;
background-color: brown;
color: white;
padding: 10px 20px;
}


.btn:hover{
  border:none;
  background-color:darkred  ;

}

.main {

    color: #cb202d;
}

#app .navbar {
    color: white;
    background-color: #cb202d;
}

#app .navbar a {
    color: white;
}

.hidden {
    display: none;
}

#app .login {
    background-color: #cb202d;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app .login-form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding: 1rem;
    padding-top: 0;
    border-radius: 4px;
}


.hero {
    margin-bottom: 2rem;
}

.restaurant {
    background-color: white;
    position: relative;
    width: 575px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 4px;
}

.rest-wrapper {
    display: flex;
    font-family: sans-serif;
}

.rest-wrapper .image {
    margin-right: 1rem;
}

.rest-wrapper .image img {
    border-radius: 4px;
}

.rest-wrapper .rest-name {
    font-size: 24px;
    color: #cb202d;
}

.rest-wrapper .rest-category {
    color: #89959B;
    text-transform: uppercase;
}

.rest-wrapper .rest-address {
    color: #89959B;
}

.rest-extra {
    display: flex;
    margin-top: 1rem;
    border-top: 1px solid #e7e7e7;
    padding: 1rem;
}

.rest-extra .type {
    text-transform: uppercase;
     color: #89959B;
     flex: none;
     margin-right: 2rem;
}

.restaurant .rating {
    color: white;
    background-color: #5BA829;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border-radius: 4px;
    letter-spacing: 2px;
}


.search-bar {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    position:relative;
    bottom:100px;
    padding-top:17px;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar form .input-wrapper {
   flex: 1;
   margin-right: 1rem;
}
.restaurant .voting
{
	font-size:14px;
	position:absolute;
	top: 4.2rem;
    right: 1.2rem;
    color: #89959B;
}
.restaurant .reviews
{
	margin-top:-7px;
}

.bestDish .button {
    display: inline-block;
    background-color:#cb202d;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25px;
  }

.bestDish .button:hover{
    display: inline-block;
    background-color:#cb202d;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    cursor: pointer;
     box-shadow: 0px 7px 21px #888888;
}




.list {
  background-color:  lightgrey;
  width: 30%;
  margin: 10px auto;
}

.img{
    background:#DEF5F2;
}

.background{
    background:#DEF5F2;
    height:660px;

}

.best-dishes{
margin-top:0px;
text-align:center;
color:#cb202d;
font-family: cursive;
font-size:50px;
text-shadow:5px 5px 5px #CD5C5C;

}


#order-online{

  position:relative;
  top:-18px;
  margin-left:35%;

}
#order-online1{

  position:relative;
  top:-30px;
  margin-left:32%;

}
#img-order{
  margin-left:22%;
  padding:20px;
}
#img-order1{
  margin-left:10%;
}
#img-order2{
  margin-left:10%;
}
#text-online{
position: relative;
left:23%;
top:-10px;

}
#text-online1{
position:relative;
left:45%;
top:-40px;


}
#text-online2{
position:relative;
left:62%;
top:-68px;

}

.img-nline{
  margin-left:17%;
}
.download-order{
  position:relative;
  top:-350px;
  margin-left:65%;
}

.idea{
  position:relative;
  top:-340px;
  margin-left:65%;

}
.idea1{
  position:relative;
  top:-340px;

}

.button-order{
  background-color: #cb202d;
  color:white;
  border:0px;
  border-radius: 4px;
  border:0.01rem solid #E5E8E8;
  position:relative;
  top:-230px;
  left:-653px;
  padding:9px;
  font-family: Calibri;

}
.button-order:hover{
  background-color:#A93226;
  font-family: Calibri;
  color:white;
  border:0px;
  border-radius: 4px;
  border:0.01rem solid #E5E8E8;
  position:relative;
  top:-230px;
  left:-653px;
  padding:9px;
}

#about-order{

  position:relative;
  top:-18px;
  margin-left:45%;
  font-size:45px;

}
.about-order1
{

  position:relative;
  top:-18px;
  margin-left:28%;
  font-size:28px;
}
.order1
{

  position:relative;
  top:-18px;
  margin-left:20%;
  font-size:20px;
}


.banner_animate h2 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #600909 ;
    margin: 0;
    padding: 90px 0 25px 0;
    transform-origin: 50% 100%;
    text-shadow: 2px 2px 2px #F94F0A;

    animation-duration: 4s;
    animation-name: fade;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}
.banner_animate a {
    font-family: Cambria, Cochin, serif;
    font-size: 16px;
    color: #F94F0A;
    padding: 5px;
    border-radius: 5px;
    background-color: #A6D2FF;
    transition: background-color .2s ease-out;
}
.banner_animate a:hover {
    background-color: #0AF9E7;
}
@keyframes fade {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}
