<!---mainbody---->
<div ng-controller="orderController">
  <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <!-- header ---------->
              <a class="navbar-brand" href="#">Foodie</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#!/home">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a ng-click="#!/order">Order Online</a></li>
            <li><a href="#!/">Logout</a></li>
          </ul>
                      </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
  <div class="ui container">

      <div class="hero">
        <img ng-src="FOODIE.png" class="foodie">
          <p>Find the best restaurants, cafe in Town</p>

      </div>
      <!-- search bar------>

      <div class="search-bar">
    <form>
    <div class="input-wrapper">

    <input type="text" class="form-control" placeholder="Search for restaurants or cuisines...." ng-model="query" >

    </div>

    <button type="submit" class="btn btn-default button3">Search</button>


    </form>
</div>
    </div>

        <!---list of restaurants and informations---->
        <h2 id="order-online"><b>How Foodie Order works</b></h2>
        <h3 id="order-online1">Order food online has never been this easy</h3>
      <img ng-src="https://b.zmtcdn.com/images/icons/order-online.svg" id="img-order">
        <img ng-src="https://b.zmtcdn.com/images/icons/book-a-table.svg" id="img-order1">
        <img ng-src="https://b.zmtcdn.com/images/online_ordering/notification.svg" id="img-order2">
        <p id="text-online"><b>Explore restaurants</b></p>
        <p id="text-online1"><b>build your order</b>
        <p id="text-online2"><b>Follow the status of your order</b></p>
        <img ng-src="https://b.zmtcdn.com/images/online_ordering/pfa-banner-graphic.png" class="img-nline">
        <p class="download-order">Download the Foodie App here!</p>
        <img ng-src="https://static1.squarespace.com/static/5642b03be4b0cca19ea6885e/t/5642cc8be4b042aca2b5ede5/1463705200629/-" height=60 width=190 class="idea">

        <img ng-src="http://f1.imgci.com/PICTURES/CMS/39700/39723.png" height=60 width=190  class="idea1">


</div>
